.alert-container{
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
}

.erro-listagem{
  display: flex;
  font-size: 15rem;
  justify-content: center;
  margin-top: 10%;
}

.erro-listagem img{
  width: 400px;
}

.loader-container {
  display: flex;
  justify-content: center;
  margin-top: 35vh;
}

.filmes {
  display: flex;
  justify-content: space-between;
  color: white;
  background-color: black;
}

.filmes button {
  width: 70px;
  background-color: black;
  color: white;
  font-size: 2rem;
  border: none;
}

.filmes-container{
  display: grid;
  grid-template-columns: 30% 30% 30%;
  width: 100%;
  height: calc(100vh - 66px - 56px);
  background: linear-gradient(90deg, rgb(150, 150, 153) 0%, rgb(90, 89, 89) 35%, rgb(189, 189, 189) 100%);
  overflow: auto;
}

