.loader-container {
  display: flex;
  justify-content: center;
  margin-top: 35vh;
}

.filmes {
  display: flex;
  justify-content: space-between;
  color: white;
  background-color: black;
}

.filmes button {
  width: 70px;
  background-color: black;
  color: white;
  font-size: 2rem;
  border: none;
}

.filmes-container{
  display: flex;
  justify-content: start;
  width: 100%;
  height: calc(100vh - 66px - 56px);
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgb(150, 150, 153) 0%, rgb(90, 89, 89) 35%, rgb(189, 189, 189) 100%);
  overflow: auto;
  stroke-width: auto;
  scrollbar-color: rgb(255, 0, 76) rgb(197, 1, 34);
  scrollbar-base-color: rgb(255, 0, 43);
}

