.form-container {
  height: 500px;
  width: 100%;
  overflow: auto;
}

.form-genero-options {
  max-height: 150px;
  width: 100%;
  overflow: auto;
}

.genero-label-button {
  display: flex;
  justify-content: space-between;
}