.alert-container{
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
}

.erro-listagem{
  display: flex;
  font-size: 15rem;
  justify-content: center;
  margin-top: 10%;
}

.erro-listagem img{
  width: 400px;
}

.home-container {
  align-items: center;
}

.search-container {
  display: flex;
  width: 100%;
  height: 40px;
  justify-items: center;
}

.search-input {
  text-align: center;
  outline-style: none !important;;
}

.btn-search {
  background-color: black;
}

.btn-search:hover {
  transition: 0.7s;
  background-color: rgb(3, 3, 3);
  color:red;
}

.btn-reset {
  background-color: rgb(138, 0, 0);
}

.btn-reset:hover {
  transition: 0.7s;
  background-color: rgb(179, 1, 1);
  color: black;
}

.card-container {
  display: grid;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
  width: 100%;
  height: 100%;
  grid-template-columns: 35% 35% 35%;
  overflow: hidden;
}

.loader-container {
  display: flex;
  justify-content: center;
  margin-top: 35vh;
}

.error-search {
  display: flex;
  justify-content: center;
  margin-top: 15%;
}